@use "utils/_mixins" as mh;

.contacts {

  
  &__wrapper {
    display: flex;
    gap: 40px;
    color: #fff;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    @include mh.adaptiv-value("padding", 24, 12, 0);
    background-color: var(--color-primary);
    

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__map {
    flex: 1 1 55%;
    min-height: 400px;
    
    iframe {
      display: block;
      filter: grayscale(0.2); // Опционально: делает карту чуть спокойнее
      border-radius: 24px;
    }
  }

  &__info {
    flex: 1 1 45%;
    @include mh.adaptiv-value("padding", 40, 20, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 800;
    @include mh.adaptiv-value("font-size", 32, 25.6, 0);
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__descr {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 16px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    
  }

  &__icon {
    width: 24px;
    flex-shrink: 0;
    margin-top: 3px;
    img { width: 100%; }
  }

  &__text, &__link {
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    // align-items: center;
    align-self: center;

    gap: 5px;
  }
}