@use "utils/_mixins" as mh;

.header {
  @include mh.adaptiv-value("margin-bottom", 16, 8, 0);
  width: 100%;
  z-index: 6000;
  position: relative;
  &__container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(16px);
    border-radius: 32px;
    padding: 0;
  }

  &__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mh.adaptiv-value("font-size", 22, 18, 0);
    font-weight: 600;
    @include mh.adaptiv-value("width", 180, 80, 0);
    width: 180px;
    line-height: 1.2;
    color: #cec2c2;
    span {
      color: #fe2125;
    }

    @media (max-width:375px) {
      width: 80px;
    }
  }

  &__nav {
    max-width: 493px;

    ul {
      display: flex;
      gap: 16px;
    }

    ul.li {
      padding: 12px;
    }

    li a {
      &:hover {
        font-weight: 600;
        color: var(--color-primary);
      }
    }
  }

  &__nav-list {
  }

  &__lang-switcher {
    display: flex;
    gap: 8px;
    letter-spacing: 3px;
    align-items: center;
    a {
      border-right: 2px solid #cd050a;
      padding-right: 8px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }

    .switcher-active {
      color: var(--color-primary);
      font-weight: 800;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    align-self: center;

    ::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #000; /* Цвет галочки */
      transition: transform 0.2s ease;
    }
  }
}
.nav-link {
}
.btn-primary {
}
.open-modal {
}

.burger {
  // display: flex;
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 45px;
  height: 35px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    height: 6px;
    width: 70%;
    transform: scale(1);
    background: #d8331d;
    border-radius: 9px;
    transition: 0.25s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 9px;
    background-color: #d8331d;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (min-width: 990px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 990px) {
  .burger {
    display: flex;
  }

  .header__nav {
    display: none;
  }

  .hamburger {
    // display: flex;
    display: none;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    overflow-y: auto;
    padding: 100px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px) saturate(180%);
    border-radius: 32px;
    animation: burgerAnimation 1s;
    row-gap: 30px;

    li {
      color: #fff;
      padding: 15px;
      font-weight: 700;
      @include mh.adaptiv-value("font-size", 20, 18, 0);

      a {
        width: 100px;
      }
    }
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
