//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mh;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_hero.scss";
@use "blocks/_slogan.scss";
@use "blocks/_about.scss";
@use "blocks/_modal.scss";

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include mh.adaptiv-value("padding-top", 16, 8, 0);
  background-color: #fff0f0;
  height: 10000px;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  background-color: #fff0f0;
  @include mh.adaptiv-value("padding", 32, 16, 0);
}

.anchor {
  &__container {
    @include mh.adaptiv-value("height", 50, 25, 0);
  }
}

.btn-primary {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 227px;
  color: #fff;
  font-size: 14px;
  padding: 16px;
  border-radius: 32px;
  backdrop-filter: blur(32px);
  background-color: var(--color-secondary);

  &:hover {
    box-shadow: 1px 3px 5px #827575;
  }
}

.btn-secondary {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 227px;
  color: #fff;
  font-size: 14px;
  padding: 16px;
  border-radius: 32px;
  backdrop-filter: blur(32px);
  background-color: #fff;
  color: #000;

  &:hover {
    box-shadow: 1px 3px 5px #827575;
  }
}

.open {
  display: flex !important;
}
