//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mh;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_hero.scss";
@use "blocks/_slogan.scss";
@use "blocks/_about.scss";
@use "blocks/_waiting.scss";
@use "blocks/_offer.scss";
@use "blocks/_getPro.scss";
@use "blocks/_gallery.scss";
@use "blocks/_services.scss";
@use "blocks/_reviews.scss";
@use "blocks/_modal.scss";
@use "blocks/_footer.scss";

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include mh.adaptiv-value("padding-top", 16, 8, 0);
  background-color: #fff0f0;
  // height: 10000px;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff0f0;
  @include mh.adaptiv-value("padding", 32, 16, 0);
}

.anchor {
  @include mh.adaptiv-value("height", 12, 12, 0);
}

.btn-primary {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 227px;
  color: #fff;
  font-size: 14px;
  padding: 16px;
  border-radius: 32px;
  backdrop-filter: blur(32px);
  background-color: var(--color-secondary);

  &:hover {
    box-shadow: 1px 3px 5px #827575;
  }
}

.btn-secondary {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 227px;
  color: #fff;
  font-size: 14px;
  padding: 16px;
  border-radius: 32px;
  backdrop-filter: blur(32px);
  background-color: #fff;
  color: #000;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 3px 5px #827575;
  }
}

.open {
  display: flex !important;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.6); // Твій акцентний синій
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1000;

  // Початковий стан (прихована)
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  &._active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    background-color: var(--color-primary);
    box-shadow: 0 5px 15px rgba(195, 17, 12, 0.3);
  }

  @media (max-width: 768px) {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
